//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-     <meta charset="UTF-8">
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-     <title>Login</title>
//-     link(rel="stylesheet", href="../static")
//- </head>
//- <body>
//-     <div class="loginform ">
//-         <form action="/login" method="post" >
//-             <h2>Sign In</h2>

//-             <input type="email" placeholder=" Enter Your Email" name ="email" class="email" required>
//-             <input type="password" placeholder=" Enter Passward" name ="passward" class="name" required>



            
                
                
            
//-             <button type="submit">Login</button>
//-             <div class="register">
//-                 <p>Don't have an account? <a href="/">Sign UP</a></p>
//-             </div>
//-         </form>
//-     </div>





//- </body>
//- </html>


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="../static/login.css")
  body
    .loginform
      .logo
        img(src="../static/img/logo2.png", alt="Music App Logo")
        h2 Log in and keep the music alive!
      form(action="/login", method="post")
        input(type="email", placeholder="Enter Your Email", name="email", class="email", required)
        input(type="password", placeholder="Enter Passward", name="passward", class="name", required)
        button(type="submit") Login
        .register
          p 
            | Don't have an account? 
            a(href="/") Sign UP
